<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="GEOSERVER_URL" value=""/>
        <env name="GEOSERVER_USER" value=""/>
        <env name="GEOSERVER_PASSWORD" value=""/>
        <env name="GEOSERVER_WORKSPACE" value="test"/>
    </php>
    <filter>
        <!-- <blacklist>
            <directory>vendor</directory>
            <directory>test</directory>
        </blacklist> -->
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
